html, p {
  padding: 0;
  margin: 0;
  font-size: 14px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/lato-light.ttf); }

@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-black.ttf); }

body {
  font-family: Lato-Light, Arial, Sans-Serif;
  color: #ffffff;
  line-height: 1.3; }

.widget-bg {
  width: 690px;
  height: 440px;
  background: -webkit-radial-gradient(top, circle, #b9bec2, #192b39);
  background: -o-radial-gradient(top, circle, #b9bec2, #192b39);
  background: radial-gradient(circle at top, #b9bec2, #192b39);
  padding: 65px 55px 95px 55px; }

.widget-img {
  width: 580px;
  height: 350px;
  background: url(../img/paris.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  padding: 65px 55px 15px 55px; }

.date {
  width: 140px;
  margin-left: 265px;
  margin-top: 5px;
  text-align: center;
  float: left; }

.date > span {
  font-size: 2.14em; }

.date > p {
  font-size: 1em; }

.temperature {
  float: left;
  width: 167px;
  position: relative; }

.temperature-sign {
  font-size: 6em; }

.temperature__span {
  font-size: 6.6em;
  font-family: Lato-Black, Arial, sans-serif; }

.city__span {
  position: absolute;
  bottom: -5px;
  left: 8px;
  font-size: 1.48em; }

.clear {
  clear: both; }

.wind {
  margin-top: 20px;
  margin-left: 410px; }

.wind > img {
  margin-left: 3px; }

.wind > p {
  display: inline;
  font-size: 2.1em;
  font-weight: 700;
  margin-left: 10px; }

.wind-speed__span {
  font-size: 0.6em; }

.weekdays-weather {
  margin-top: 80px;
  position: relative;
  height: 90px;
  padding-left: 40px; }

.back-button {
  position: absolute;
  top: 50px;
  left: 0;
  width: 40px; }

.next-button {
  position: absolute;
  top: 50px;
  width: 40px;
  right: 0;
  text-align: right; }

.weekday {
  width: 125px;
  height: 90px;
  float: left;
  padding-top: 15px;
  text-align: center; }

.weekday > p {
  font-size: 1.1em; }

.weather-img > img {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9); }

.weather-img {
  height: 40px; }
